attrdict==2.0.1
matplotlib==3.10.8
networkit==11.2
networkx==3.6.1
numba==0.59.1
pandas==2.3.3
pot==0.9.6.post1
python_louvain==0.16
scikit_learn==1.8.0
scipy==1.16.3
torch==2.4.1
torch_geometric==2.7.0
tqdm==4.67.1
umap_learn==0.5.9.post2
torchvision==0.19.1
torch_householder